<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYdGBHzk6PpGN-u7OcO36d1cSsdl4zBYU</string>
	<key>GCM_SENDER_ID</key>
	<string>423888618447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cw06</string>
	<key>PROJECT_ID</key>
	<string>cw-6-1dc81</string>
	<key>STORAGE_BUCKET</key>
	<string>cw-6-1dc81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423888618447:ios:bb95ccd2081a8b01bcc8ba</string>
</dict>
</plist>